<template>
<div>
    <v-layout :wrap="true">
    <v-flex xs12>
      <v-card>
        <v-date-picker 
        full-width
        locale="es-pe"
        v-model="fecha"
        :min="minimo"
        :max="maximo"
        ></v-date-picker>
      </v-card>
      <v-card color="error" dark>
        <v-card-text class="display-1 text-center">
          650 {{fecha}}
        </v-card-text>
      </v-card>
    </v-flex>
    
  </v-layout>

</div>

</template>

<script>
// @ is an alias to /src

export default {
  data () {
      return {
        fecha: new Date().toISOString().substr(0, 10),
        minimo: '1984',
        maximo: new Date().toISOString().substr(0, 10),
      }
    },
}
</script>
