<template>
    <div>
        <h1>Desde la vista servicios </h1>
       <Servicio />
    </div>
</template>

<script>
import Servicio from '@/components/Servicios.vue';

export default {
    components:{
        Servicio
    }
}
</script>