<template>
    <div>
      <v-card
        class="mx-auto"
        max-width="400">
        <v-img
          class="white--text align-end"
          height="200px"
          src="https://cdn.vuetifyjs.com/images/cards/docks.jpg"
        >   
          <v-card-title>Prueba de Selects Anidados</v-card-title>
        </v-img>
        <v-card-text>
            <v-select
                    :v-model="select"
                    label='Names'
                    :items='names'
                    item-value='id'
                    item-text='name'
                    return-object
                    @change="evento"
              >
            </v-select>

            <v-select
                    :v-model="select2"
                    label='second'
                    :items='seconds'
                    item-value='id'
                    item-text='name'
                    return-object
              >
            </v-select>
        </v-card-text>
        <v-card-actions>
          <v-btn
            color="orange"
            text
          >
            Share
          </v-btn>

          <v-btn
            color="orange"
            text
          >
            Explore
          </v-btn>
      </v-card-actions>
      </v-card>
    </div>
</template>

<script> 
import axios from 'axios'
export default {
  data(){
      return {
          select: { id: '', name: '' },
          names : null,
          seconds : ['Seleccione Primero'],
          select2: false

      }
  },
  mounted() {
      axios
            .get("http://localhost:8000/countries")
            .then(response => (this.names = response.data))

  },
  methods:{
      async evento(valor_enviado){
        let datos = await axios.get(`http://localhost:8000/states/${valor_enviado.id}`)
        this.seconds = datos.data
      }
  }
}   
</script>

<!--
<template>
<v-select
  label='Names'
  v-model='name'
  :items='names'
  item-value='id'
  item-text='name'
  return-object
>
  <template slot='selection' slot-scope='{ item }'>
    {{ item.name }} - {{ item.age }}
  </template>
  <template slot='item' slot-scope='{ item }'>
    {{ item.name }} - {{ item.age }}
  </template>
</v-select>
</template>

<script> 
export default {
  data: () => ({
    names:[
      {id: 1, name: 'Paul', age: 23},
      {id: 2, name: 'Marcelo', age: 15},
      {id: 3, name: 'Any', age: 30},
    ]
  })
}   
</script>
-->


