<template>
  <v-app>
    <v-content>
      <router-link to="/home">Go to Servicios</router-link>!!
      <router-link to="/">Inicio</router-link>
      <router-view/>
    </v-content>
  </v-app>
</template>

<script>

export default {
  name: 'App',

  components: {
   
  },

  data: () => ({
    //
  }),
};
</script>
